.menu {
display: flex;
justify-content: space-around;
}

button {
    padding: .5em;
    color: #141527;
    background: #7379FC;
    border: 1px solid #727274;
    border-radius: 1px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}