* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background: #141527;
  color: #E2E2E4;
  height: 100%;
  text-align: center;
  width: 100%;
}

h1 {
  font-family: 'Roboto Mono', monospace;
}

.highlight {
  color: #FCF673;
}