.news-article {
    box-sizing: border-box;
    border: 1px solid #727274;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 49vw;
    margin: .1em;
}

.article-image {
    width: 100%;
}

.read-article-btn {
    padding: .5em;
    color: #141527;
    background: #7379FC;
    border: 1px solid #727274;
    border-radius: 1px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin: .2em;
}

button:hover {
    background: #FCF673;
}