.news-article {
    box-sizing: border-box;
    border: 1px solid #727274;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 50vw;
}

.article-image {
    width: 50%;
}

.read-article-btn {
    padding: .5em;
    color: #141527;
    background: #7379FC;
    border: 1px solid #727274;
    border-radius: 1px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

/* 
yellow #FCF673 
purple #7379FC
*/